@charset "UTF-8";

@font-face {
    font-family: unbounded;
    src: url("Fontes/Unbounded/Unbounded-VariableFont_wght.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

body{

    font-family: sans-serif;
    margin: 0px;
    
}



header{
    font-size: 70pt;
    text-align: center;
    background-color: transparent;
    max-width: 100%;
    padding: 1em ;
    font-family: unbounded;
    font-weight: lighter;
}

@media (max-width: 768px) {
    header {
        font-size: 50pt;

      /* seus estilos específicos para telas médias aqui */
    }
  }
  
  /* Estilos para telas pequenas (como smartphones) */
  @media (max-width: 480px) {
    header {
        font-size: 40pt;
      /* seus estilos específicos para telas pequenas aqui */
    }
  }

#barraazul{
    background-color: rgb(33, 33, 204) ;
    color: white;
    text-align: center;
    font-family: unbounded;
    font-weight: lighter;
    padding: 20px;
    font-size: 12pt;
}

#barrapreta{
    background-color: black;
    color: white;
    
    text-align: CENTER;
    padding: 20px;
}

#barrabranca{
    background-color: white;
    padding: 10px;
}



#btprinc {
    
    color: black;
    text-align: center;
    padding: 80px;
}

#btp{
    width: 300px;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 2px black
}





footer{
    background-color: ;
    text-align: center;
    
}

footer > h6{
    background-color: black;
    color: white;
    padding: 40px;
    border: 2px solid white;
    margin-bottom: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}