@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{

    font-family: sans-serif;
    margin: 0px;
    
}

header{
    font-size: 60pt;
    text-align: center;
    background-color: transparent;
    padding: 50px ;
}

#navprofissionais{
    background-color: rgb(33, 33, 204) ;
    color: white;
    text-align: center;
    padding: 10px;
    
}

#principal > img{
    max-width: 100%
    
}

nav{
    font-family: sans-serif
}

#navprofissionais > a {
    text-decoration: none;
    color: white;
}

#navurbanas{
    background-color: black;
    text-align: center;
    padding: 10px;
}

#navurbanas > a {
    text-decoration: none;
    color: white;
}



#navbranco{
    background-color: white;
    padding: 5px;
}

#topoformulario{
    width: 500;
    height: 15px;
    border: 1px solid rgb(33, 33, 204) ;
    
    border-radius: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 30px;
}

#formularioorçamento > #imagem> img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 70px rgb(1, 1, 255);
}

input{
    margin: 20px;
    width: 300px;
    height: 30px;
    font-size: 1em;
    border-radius: 20px;
    
    background-color: rgb(33, 33, 204) ;
    color: white;
}

select{
    margin: auto;
    margin: 20px;
    width: 500px;
    height: 30px;
    text-align: center;
    font-size:medium;
    box-shadow: 3px 4px 4px;
    
}

#formularioorçamento{
    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid rgb(33, 33, 204) ;
    box-shadow: 30px 20px;
    padding: 30px;
    width: 600px;
    height: 900px;
    text-align: center;
    max-width: 100%;
}

#btenviar > input{
    width: 100px;
    background-color: rgb(33, 33, 204) ;
    color: white;
    border-radius: 20px;
    border: 10px white;

}

footer{
    background-color: black ;
    text-align: center;
    
}

footer > h6{
    background-color: black;
    color: white;
    padding: 40px;
    border: 2px solid white;
    margin-bottom: 0px;
    font-family: Georgia, Times, 'Times New Roman', serif
}



