@charset "UTF-8";

@font-face {
    font-family: gruppo ;
    src: url("Fontes/Gruppo/Gruppo-Regular.ttf") ;
}

@font-face {
    font-family: Poiret ;
    src: url("Fontes/Poiret_One/PoiretOne-Regular.ttf");
}

@font-face {
    font-family: turkey;
    src: url("Fontes/Tourney/Tourney-Italic-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: unbounded;
    src: url("Fontes/Unbounded/Unbounded-VariableFont_wght.ttf");
}


*{
    margin: 0px;
    padding: 0px;
}

body{

    font-family: sans-serif;
    margin: 0px;
    
}

header{
    font-size: 70pt;
    text-align: center;
    
    padding: 1em ;
    font-family: unbounded;
    font-weight: lighter;
    
}

@media (max-width: 768px) {
    header {
        font-size: 50pt;

      /* seus estilos específicos para telas médias aqui */
    }
  }
  
  /* Estilos para telas pequenas (como smartphones) */
  @media (max-width: 480px) {
    header {
        font-size: 40pt;
      /* seus estilos específicos para telas pequenas aqui */
    }
  }



#navprofissionais{
    background-color: rgb(33, 33, 204) ;
    color: white;
    text-align: center;
    padding: 10px;
    
}

#principal > img{
    max-width: 100%
    
}

nav{
    font-family: unbounded;
    font-size: 14pt;
    font-weight: lighter;
}

#navprofissionais > a {
    text-decoration: none;
    color: white;
}

#navurbanas{
    background-color: black;
    text-align: center;
    padding: 10px;
}

#navurbanas > a {
    text-decoration: none;
    color: white;
}



#navbranco{
    background-color: white;
    padding: 5px;
}

main> #legendacarousel{
    background-color: rgb(33, 33, 204) ;
    font-family: unbounded;
    font-weight: lighter;
    color: white;
    padding: 20px;
}

main > #faixapreta{
    background-color: black;
    padding: 20px;
}



section#principal{
    
    border: 3px solid rgba(0, 0, 0, 0.419);
}

#legendacarousel{
    background-color: rgb(249, 250, 251);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-top: 2px solid white;
    text-align: center;
    
}

#legendacarousel > h5{
    font-family: unbounded;
    font-weight: lighter;
    font-size: 14pt;
}

#carouselExampleAutoplaying{
    border: 2px solid white;
}

#formulario{
    padding: 20px;
}

#cadastre-se{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    font-family: poiret;
    
}




footer{
    background-color: black ;
    text-align: center;
    
}

footer > h6{
    background-color: black;
    color: white;
    padding: 40px;
    border: 2px solid white;
    margin-bottom: 0px;
    font-family: poiret;
}

